.contacts-nav .link {
  color: $title-text-color;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: fill 250ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .contacts-link {
  display: flex;
  align-items: center;
  fill: $title-text-color;
}

.contacts-nav {
  display: flex;
  margin-left: auto;

  & a:hover,
  & a:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    margin-top: 19px;
    margin-bottom: 19px;
    display: block;
  }
}

.contacts-nav .item:not(:first-child) {
  margin-left: 50px;
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    margin-left: auto;
    margin-top: 10px;
  }
}

.contacts-icon {
  margin-right: 10px;
}

.logo-part {
  color: $primary-text-color;
}
