/* особенности */

.features-bg {
  padding-top: 60px;

  padding-bottom: 60px;

  border-bottom: 0;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.text-section {
  margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.features-bg .item {
  margin: 15px;
  // width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

// .text-section {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
// }

/* .text-section .item::before  */
.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  content: " ";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-color: $portfolio-bg-buttons;
  border-radius: 4px;
}
/* .icon-antenna::before{
  background-image: url(../images/antenna.svg);

}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */

// .text-section .item {
// margin: 15px;
// }

.section {
  margin-bottom: 10px;
  color: $primary-text-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.section-title {
  color: $title-text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  // margin-bottom: 30px;
}

.product-section {
  color: $primary-text-color;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.06em;
}
