/* hero */

.hero-bg {
  background: #c4c4c4;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  // background-image: linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(/images/index/mobile/hero.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (max-width: 480px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../img/hero-mobile.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/index/mobile/hero.jpg);
  }

  @media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (max-width: 480px) and (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(/images/index/mobile/hero@2x.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/index/mobile/hero@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(/images/index/tablet/hero.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/index/tablet/hero.jpg);
  }

  @media screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 481px) and (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(/images/index/tablet/hero@2x.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/index/tablet/hero@2x.jpg);
  }

  @media screen and (min-width: 769px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(/images/index/desktop/hero.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/index/desktop/hero.jpg);
  }

  @media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 769px) and (min-resolution: 2dppx) {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(/images/index/desktop/hero@2x.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/index/desktop/hero@2x.jpg);
  }
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  color: $hero-text-color;
  font-weight: 900;

  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
