$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$hero-text-color: #ffffff;
$portfolio-bg-buttons: #f5f4fa;
$hero-footer-bg: #2f303a;
$address-link-footer: rgba(255, 255, 255, 0.6);
$general-bg: #e5e5e5;
// текст
$primary-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
